flows.json
[{"id":"39c7b9d201e13984","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b90fcafe891b0bae","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"1db59873d7b3b797","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"e3f4bf90846b83b2","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"1e6e63d4b953e192","type":"mqtt-broker","name":"","broker":"ca6ec9f256ab48b3854c2f609c0cb6af.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9be5788e5c56aa2e","type":"ui_group","name":"Cảm Xúc","tab":"60932ee10b58a2cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"60932ee10b58a2cd","type":"ui_tab","name":"Điều Khiển Emo","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"0d8008ef312024a5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f4e920db46cff047","type":"ui_group","name":"Dẫn Đường","tab":"60932ee10b58a2cd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"469be2e8f3231664","type":"mqtt in","z":"39c7b9d201e13984","name":"Nhận Tất Cả MQTT","topic":"emo/#","qos":"0","datatype":"auto-detect","broker":"1e6e63d4b953e192","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":860,"wires":[["6da7e5ca36d21f82"]]},{"id":"6da7e5ca36d21f82","type":"debug","z":"39c7b9d201e13984","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":860,"wires":[]},{"id":"85f13d5d90dd20ec","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Buồn 😢","tooltip":"","color":"màu xanh dương","bgcolor":"","className":"","icon":"","payload":"buon","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":1020,"wires":[["a5a34ea8d52b06d2"]]},{"id":"e050698614a9fb0f","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Giận 😠","tooltip":"","color":"màu đỏ","bgcolor":"","className":"","icon":"","payload":"gian","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":1060,"wires":[["a5a34ea8d52b06d2"]]},{"id":"9b23ccc720b59cd6","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Vui 😊","tooltip":"","color":"xanh lá","bgcolor":"","className":"","icon":"","payload":"vui","payloadType":"str","topic":"topic","topicType":"msg","x":530,"y":980,"wires":[["a5a34ea8d52b06d2"]]},{"id":"c69bad8dbe702efa","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Ngạc Nhiên 😮","tooltip":"","color":"màu vàng","bgcolor":"","className":"","icon":"","payload":"ngac_nhien","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":1100,"wires":[["a5a34ea8d52b06d2"]]},{"id":"7ab054de8614552f","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Chờ 😐","tooltip":"","color":"màu xám","bgcolor":"","className":"","icon":"","payload":"cho","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":940,"wires":[["a5a34ea8d52b06d2"]]},{"id":"a5a34ea8d52b06d2","type":"mqtt out","z":"39c7b9d201e13984","name":"Gửi Lệnh Emo","topic":"emo/lenh","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1e6e63d4b953e192","x":860,"y":860,"wires":[]},{"id":"b95399dd86dda2dd","type":"mqtt in","z":"b90fcafe891b0bae","name":"Nhận Info Ảnh","topic":"emo/camera/info","qos":"0","datatype":"auto-detect","broker":"1e6e63d4b953e192","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":120,"wires":[["49f8c1152dff80a9"]]},{"id":"153250545461ec26","type":"mqtt in","z":"b90fcafe891b0bae","name":"Nhận Hoàn Thành","topic":"emo/camera/hoan_thanh","qos":"0","datatype":"auto-detect","broker":"1e6e63d4b953e192","nl":false,"rap":true,"rh":0,"inputs":0,"x":410,"y":200,"wires":[["49f8c1152dff80a9"]]},{"id":"1b8423ce031f6b48","type":"mqtt in","z":"b90fcafe891b0bae","name":"Nhận Gói Ảnh","topic":"emo/camera/goi","qos":"0","datatype":"auto-detect","broker":"1e6e63d4b953e192","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":160,"wires":[["49f8c1152dff80a9"]]},{"id":"49f8c1152dff80a9","type":"function","z":"b90fcafe891b0bae","name":"Ghép Ảnh","func":"// Khởi tạo biến lưu trữ\nvar cacGoiAnh = context.get('cacGoiAnh') || {};\nvar soGoiCanNhan = context.get('soGoiCanNhan') || 0;\n\nvar topic = msg.topic;\nvar payload = msg.payload;\n\n// Nhận thông tin số gói\nif (topic === \"emo/camera/info\") {\n    var info = JSON.parse(payload);\n    soGoiCanNhan = info.so_goi;\n    cacGoiAnh = {};\n    \n    context.set('soGoiCanNhan', soGoiCanNhan);\n    context.set('cacGoiAnh', cacGoiAnh);\n    \n    node.status({fill:\"blue\", shape:\"ring\", text:\"Đang nhận \" + soGoiCanNhan + \" gói...\"});\n    return null;\n}\n\n// Nhận gói ảnh\nif (topic.startsWith(\"emo/camera/goi\")) {\n    var soGoi = parseInt(topic.replace(\"emo/camera/goi\", \"\"));\n    cacGoiAnh[soGoi] = payload;\n    context.set('cacGoiAnh', cacGoiAnh);\n    \n    var soGoiDaNhan = Object.keys(cacGoiAnh).length;\n    node.status({fill:\"yellow\", shape:\"dot\", text:\"Đã nhận \" + soGoiDaNhan + \"/\" + soGoiCanNhan});\n    \n    return null;\n}\n\n// Hoàn thành - ghép ảnh\nif (topic === \"emo/camera/hoan_thanh\") {\n    var anhDayDu = \"\";\n    for (var i = 0; i < soGoiCanNhan; i++) {\n        if (cacGoiAnh[i]) {\n            anhDayDu += cacGoiAnh[i];\n        }\n    }\n    \n    node.status({fill:\"green\", shape:\"dot\", text:\"Ghép ảnh OK!\"});\n    \n    // Reset\n    context.set('cacGoiAnh', {});\n    context.set('soGoiCanNhan', 0);\n    \n    msg.payload = anhDayDu;\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["62b35d98fbc8a8df"]]},{"id":"62b35d98fbc8a8df","type":"function","z":"b90fcafe891b0bae","name":"Tạo Request Vision API","func":"var anhBase64 = msg.payload;\n\n// Tạo request cho Google Vision\nmsg.payload = {\n    \"requests\": [{\n        \"image\": {\n            \"content\": anhBase64\n        },\n        \"features\": [{\n            \"type\": \"FACE_DETECTION\",\n            \"maxResults\": 1\n        }]\n    }]\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":240,"wires":[["788efd5f42960d46"]]},{"id":"788efd5f42960d46","type":"http request","z":"b90fcafe891b0bae","name":"Google Vision API","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyBx0ZWphBGV0z706UbLDTfMmaMGVC4sRJs","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":670,"y":300,"wires":[["906275652dcbc289"]]},{"id":"906275652dcbc289","type":"function","z":"b90fcafe891b0bae","name":"Phân Tích Cảm Xúc","func":"var response = msg.payload;\n\n// Kiểm tra có khuôn mặt không\nif (response.responses && \n    response.responses[0].faceAnnotations && \n    response.responses[0].faceAnnotations.length > 0) {\n    \n    var face = response.responses[0].faceAnnotations[0];\n    \n    // Lấy các cảm xúc\n    var joy = face.joyLikelihood;\n    var sorrow = face.sorrowLikelihood;\n    var anger = face.angerLikelihood;\n    var surprise = face.surpriseLikelihood;\n    \n    node.warn(\"Cảm xúc phát hiện:\");\n    node.warn(\"  Vui: \" + joy);\n    node.warn(\"  Buồn: \" + sorrow);\n    node.warn(\"  Giận: \" + anger);\n    node.warn(\"  Ngạc nhiên: \" + surprise);\n    \n    // Xác định cảm xúc chính\n    var camXuc = \"cho\";\n    \n    if (joy === \"VERY_LIKELY\" || joy === \"LIKELY\") {\n        camXuc = \"vui\";\n    } \n    else if (sorrow === \"VERY_LIKELY\" || sorrow === \"LIKELY\") {\n        camXuc = \"buon\";\n    } \n    else if (anger === \"VERY_LIKELY\" || anger === \"LIKELY\") {\n        camXuc = \"gian\";\n    }\n    else if (surprise === \"VERY_LIKELY\" || surprise === \"LIKELY\") {\n        camXuc = \"ngac_nhien\";\n    }\n    \n    node.status({fill:\"green\", shape:\"dot\", text:\"Cảm xúc: \" + camXuc});\n    \n    msg.payload = camXuc;\n    msg.topic = \"emo/lenh\";\n    \n    return msg;\n    \n} else {\n    // Không có người\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Không có người\"});\n    \n    msg.payload = \"cho\";\n    msg.topic = \"emo/lenh\";\n    \n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":360,"wires":[["d1ba3244f3dbc7e1"]]},{"id":"d1ba3244f3dbc7e1","type":"mqtt out","z":"b90fcafe891b0bae","name":"Gửi Lệnh Emo","topic":"emo/lenh","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1e6e63d4b953e192","x":640,"y":420,"wires":[]},{"id":"0db98e608eab7add","type":"http in","z":"1db59873d7b3b797","name":"Nhận Thông Báo Macrodroid","url":"/thong-bao","method":"post","upload":false,"swaggerDoc":"","x":420,"y":200,"wires":[["f12c77027f6cbdb1"]]},{"id":"f12c77027f6cbdb1","type":"function","z":"1db59873d7b3b797","name":"Xử Lý Thông Báo Macrodroid","func":"var data = msg.payload;\n\nvar loai = data.loai || \"thong_bao\";\nvar ungDung = data.ung_dung || \"Ứng dụng\";\nvar tieuDe = data.tu || \"\";\nvar noiDung = data.noi_dung || \"\";\n\n// Rút gọn tên ứng dụng\nvar tenNgan = ungDung;\nif (ungDung.includes(\"Telegram\")) tenNgan = \"Telegram\";\nif (ungDung.includes(\"Zalo\")) tenNgan = \"Zalo\";\nif (ungDung.includes(\"Messenger\")) tenNgan = \"Messenger\";\nif (ungDung.includes(\"Phone\") || ungDung.includes(\"Call\")) {\n    tenNgan = \"Cuộc gọi\";\n    loai = \"cuoc_goi\";\n}\nif (ungDung.includes(\"SMS\") || ungDung.includes(\"Messages\")) tenNgan = \"Tin nhắn\";\nif (ungDung.includes(\"Email\") || ungDung.includes(\"Gmail\")) tenNgan = \"Email\";\n\n// Lấy tên người gửi\nvar nguoiGui = tieuDe;\nif (nguoiGui.length > 15) {\n    nguoiGui = nguoiGui.substring(0, 12) + \"...\";\n}\n\n// Tạo JSON\nvar thongBao = {\n    \"loai\": loai,\n    \"tu\": nguoiGui || tenNgan,\n    \"noi_dung\": noiDung\n};\n\nmsg.payload = JSON.stringify(thongBao);\nmsg.topic = \"emo/thong_bao\";\n\nnode.warn(\"─────────────────────────\");\nnode.warn(\"Thông báo từ: \" + tenNgan);\nnode.warn(\"Tiêu đề: \" + tieuDe);\nnode.warn(\"Nội dung: \" + noiDung);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["4cbcd20f1408c027","d3e4a086b07c9721"]]},{"id":"4cbcd20f1408c027","type":"http response","z":"1db59873d7b3b797","name":"Trả Lời OK","statusCode":"200","headers":{},"x":970,"y":200,"wires":[]},{"id":"d3e4a086b07c9721","type":"mqtt out","z":"1db59873d7b3b797","name":"","topic":"emo/thong_bao","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1e6e63d4b953e192","x":980,"y":260,"wires":[]},{"id":"4d418140741764d5","type":"ui_button","z":"e3f4bf90846b83b2","name":"","group":"f4e920db46cff047","order":5,"width":0,"height":0,"passthru":false,"label":"Bắt Đầu Dẫn Đường 🚗","tooltip":"","color":"xanh lá","bgcolor":"","className":"","icon":"","payload":"start","payloadType":"str","topic":"navigation","topicType":"str","x":250,"y":220,"wires":[["9e48ed1b4a53d6ab"]]},{"id":"7679a64a89a25d41","type":"ui_button","z":"e3f4bf90846b83b2","name":"","group":"f4e920db46cff047","order":5,"width":0,"height":0,"passthru":false,"label":"Dừng Dẫn Đường ⏹️","tooltip":"","color":"đỏ","bgcolor":"","className":"","icon":"","payload":"stop","payloadType":"str","topic":"navigation","topicType":"str","x":300,"y":280,"wires":[["9e48ed1b4a53d6ab"]]},{"id":"9e48ed1b4a53d6ab","type":"function","z":"e3f4bf90846b83b2","name":"Lấy Chỉ Dẫn Google Maps","func":"// Lấy điểm đến từ text input\nvar diemDen = flow.get(\"diem_den\") || \"\";\n// Lấy tọa độ GPS (từ OwnTracks)\nvar start_lat = global.get(\"current_lat\");\nvar start_lon = global.get(\"current_lon\");\nvar gps_accuracy = global.get(\"gps_accuracy\") || 99999; // Mặc định accuracy rất cao nếu không có\n// ... (Logic kiểm tra GPS và khởi tạo start_lat, start_lon) ...\n\n// Bắt đầu (Output 1)\nif (msg.topic === \"navigation\" && msg.payload === \"start\") {\n    // ... (Logic kiểm tra điểm đến và GPS, và gán start_lat/lon) ...\n\n    // BƯỚC MỚI: LƯU TỌA ĐỘ GPS VÀO FLOW CONTEXT (cho khối Lưu Tọa Độ Start)\n    flow.set(\"start_lat\", parseFloat(start_lat));\n    flow.set(\"start_lon\", parseFloat(start_lon));\n    \n    // BƯỚC QUAN TRỌNG: GÁN TỌA ĐỘ VÀO TIN NHẮN (cho khối Geocode Start)\n    msg.start_lat = start_lat; \n    msg.start_lon = start_lon; \n    \n    // Cài đặt thông số API\n    msg.end_address = diemDen;\n    msg.ors_key = \"eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjM5ZjhkYzdmZGMxNTQ2OTBiZTUyNzUxYWZjODliOTAzIiwiaCI6Im11cm11cjY0In0=\"; \n    \n    node.warn(\"🚗 Bắt đầu Dẫn Đường từ GPS: \" + start_lat + \",\" + start_lon + \" → \" + diemDen);\n    \n    return [msg, null]; \n}\n\n// ...\n// Lưu điểm đến (và điểm xuất phát đã bị loại bỏ)\nif (msg.topic === \"diem_den\") {\n    flow.set(msg.topic, msg.payload);\n    node.warn(\"✅ Đã lưu điểm đến: \" + msg.payload);\n    return [null, null];\n}\n\n// Dừng (Output 2)\nif (msg.topic === \"navigation\" && msg.payload === \"stop\") {\n    global.set(\"navigation_steps\", null);\n    global.set(\"current_step\", 0);\n    global.set(\"navigation_geometry\", null);\n    \n    var msgDung = { payload: \"cho\", topic: \"emo/lenh\" };\n    node.warn(\"Đã dừng dẫn đường\");\n    return [null, msgDung]; \n}\n\n// Bắt đầu (Output 1)\n// ... (Logic Dừng - Giữ nguyên) ...\n\n// Bắt đầu (Output 1)\nif (msg.topic === \"navigation\" && msg.payload === \"start\") {\n    // ... (Logic kiểm tra điểm đến và GPS) ...\n\n    // BƯỚC MỚI: LƯU TỌA ĐỘ GPS VÀO FLOW CONTEXT\n    flow.set(\"start_lat\", parseFloat(start_lat));\n    flow.set(\"start_lon\", parseFloat(start_lon));\n\n    // Cài đặt thông số API\n    msg.end_address = diemDen;\n    msg.ors_key = \"eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjM5ZjhkYzdmZGMxNTQ2OTBiZTUyNzUxYWZjODliOTAzIiwiaCI6Im11cm11cjY0In0=\";\n\n    node.warn(\"🚗 Bắt đầu Dẫn Đường từ GPS: \" + start_lat + \",\" + start_lon + \" → \" + diemDen);\n\n    // KHÔNG CẦN GỬI start_lat/lon TRONG msg NỮA\n    // Giờ tọa độ đã nằm trong Flow Context\n\n    return [msg, null];\n}\n// ...\n\nreturn [null, null];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":180,"wires":[["9b7d463a562872ee"],["33cfd361f3629af7"]]},{"id":"b9829baa374f9a3f","type":"http request","z":"e3f4bf90846b83b2","name":"Nominatim Geocode Start","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":300,"wires":[["9937a76156703faf"]]},{"id":"9b7d463a562872ee","type":"function","z":"e3f4bf90846b83b2","name":"Geocode Start","func":"// Function: Geocode Start (9b7d463a562872ee)\n// Output 1: KHÔNG DÙNG NỮA\n// Output 2: Gửi thẳng đến Lưu Tọa Độ Start (Dùng GPS)\n\n// Vì bạn đã bắt buộc dùng GPS trong khối trước, \n// nên msg.start_lat và msg.start_lon luôn tồn tại.\n\nif (msg.start_lat && msg.start_lon) {\n    node.warn(\"⏭️ Bỏ qua Geocode Start (Đã có GPS)\");\n    return [null, msg]; // Gửi msg đi qua Output 2\n}\n\n// KHÔNG CẦN XỬ LÝ ĐỊA CHỈ NỮA\n\nnode.error(\"❌ Lỗi logic: Tin nhắn không có tọa độ GPS!\");\nreturn [null, null];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":240,"wires":[["b9829baa374f9a3f"],["9937a76156703faf"]]},{"id":"33cfd361f3629af7","type":"mqtt out","z":"e3f4bf90846b83b2","name":"Gửi Dẫn Đường","topic":"emo/dan_duong","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1e6e63d4b953e192","x":540,"y":540,"wires":[]},{"id":"9937a76156703faf","type":"function","z":"e3f4bf90846b83b2","name":" Lưu Tọa Độ Start","func":"// Function: Lưu Tọa Độ Start (9937a76156703faf)\nvar start_lat, start_lon;\n\n// 1. Ưu tiên đọc tọa độ từ TIN NHẮN (Nếu đến từ GPS)\nif (msg.start_lat && msg.start_lon) {\n    start_lat = parseFloat(msg.start_lat);\n    start_lon = parseFloat(msg.start_lon);\n\n    flow.set(\"start_lat\", start_lat);\n    flow.set(\"start_lon\", start_lon);\n    node.warn(\"✅ Tọa độ xuất phát (GPS): \" + start_lat + \", \" + start_lon);\n} \n// 2. Trường hợp Geocode (Nếu đến từ Nominatim Geocode Start)\nelse if (msg.payload && msg.payload.length > 0) {\n    // Logic này không chạy vì Geocode Start đã phân luồng\n    var result = msg.payload[0];\n    start_lat = parseFloat(result.lat);\n    start_lon = parseFloat(result.lon);\n\n    flow.set(\"start_lat\", start_lat);\n    flow.set(\"start_lon\", start_lon);\n    node.warn(\"✅ Tọa độ xuất phát (Geocoded): \" + start_lat + \", \" + start_lon);\n} else {\n    node.error(\"❌ Lỗi: Không tìm thấy tọa độ xuất phát!\");\n    return null;\n}\n\n// 3. Chuẩn bị Geocode điểm đến (Giữ nguyên)\nvar end_address = flow.get(\"diem_den\");\n\n// Tạo URL Nominatim cho Điểm Đến\nvar encoded_end = encodeURIComponent(end_address);\nmsg.url = `https://nominatim.openstreetmap.org/search?q=${encoded_end}&format=json&limit=1`; // DÒNG NÀY PHẢI CÓ\n// Gán lại end_address vào msg để dùng sau này (tùy chọn)\nmsg.end_address = end_address;\n\nnode.warn(\"🔍 Thử lần 1: \" + end_address);\n\nreturn msg; // Gửi đi tới Nominatim Geocode End","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":340,"wires":[["8306d5faf7992ac1"]]},{"id":"8306d5faf7992ac1","type":"http request","z":"e3f4bf90846b83b2","name":"Nominatim Geocode End","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":380,"wires":[["142a437839a4ed91"]]},{"id":"142a437839a4ed91","type":"function","z":"e3f4bf90846b83b2","name":"Gọi ORS","func":"// Reset try index khi thành công\nflow.set(\"geocode_try_index\", 0);\n\nif (!msg.payload || msg.payload.length === 0) {\n    node.error(\"❌ Không tìm thấy điểm đến!\");\n    return null;\n}\n\nvar result = msg.payload[0];\nvar end_lat = parseFloat(result.lat);\nvar end_lon = parseFloat(result.lon);\n\nnode.warn(\"✅ Tọa độ đích: \" + end_lat + \", \" + end_lon);\nnode.warn(\"📍 \" + result.display_name);\n\n// Lấy tọa độ xuất phát đã lưu\nvar start_lat = flow.get(\"start_lat\");\nvar start_lon = flow.get(\"start_lon\");\nvar apiKey = msg.ors_key;\n\n// Tạo URL OpenRouteService VỚI LANGUAGE=VI\nmsg.url = `https://api.openrouteservice.org/v2/directions/driving-car?start=${start_lon},${start_lat}&end=${end_lon},${end_lat}&language=vi&api_key=${apiKey}`;\n//                                                                                                                      ↑↑↑↑↑↑↑↑↑↑↑↑↑\n//                                                                                                                   THÊM DÒNG NÀY!\n\nnode.warn(\"🌐 Gọi OpenRouteService...\");\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[["960d9bbeb0b5e8a1"]]},{"id":"960d9bbeb0b5e8a1","type":"http request","z":"e3f4bf90846b83b2","name":"OpenRouteService Directions","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":460,"wires":[["3520dedb414f0bdd"]]},{"id":"3520dedb414f0bdd","type":"function","z":"e3f4bf90846b83b2","name":"Phân Tích ORS","func":"node.warn(\"📥 Nhận phản hồi từ OpenRouteService\");\n\nif (!msg.payload || !msg.payload.features || msg.payload.features.length === 0) {\n    node.error(\"❌ Không tìm thấy đường!\");\n    return null;\n}\n\nvar route = msg.payload.features[0];\nvar steps = route.properties.segments[0].steps;\n\nnode.warn(\"🗺️ Tìm thấy \" + steps.length + \" bước\");\n\n// Lưu các bước\nglobal.set(\"navigation_steps\", steps);\nglobal.set(\"current_step\", 0);\n\n// Lấy bước đầu tiên\nvar firstStep = steps[0];\nvar chiDan = firstStep.instruction || \"Đi thẳng\";\nvar khoangCach = Math.round(firstStep.distance) + \" m\";\n// Function: Phân Tích ORS (3520dedb414f0bdd)\n// ... (Logic kiểm tra lỗi) ...\n// ...\nvar route = msg.payload.features[0];\nvar steps = route.properties.segments[0].steps;\nvar fullGeometry = route.geometry.coordinates; // <<< Dòng này phải có\n\nnode.warn(\"🗺️ Tìm thấy \" + steps.length + \" bước\");\n\n// Lưu CÁC BIẾN GLOBAL CẦN THIẾT\nglobal.set(\"navigation_steps\", steps);\nglobal.set(\"navigation_geometry\", fullGeometry); // <-- RẤT QUAN TRỌNG\nglobal.set(\"current_step\", 0);\n// ... (Logic còn lại giữ nguyên) ...\nvar thongBao = {\n    \"hanh_dong\": \"bat_dau\",\n    \"chi_dan\": chiDan,\n    \"khoang_cach\": khoangCach\n};\n\nmsg.payload = JSON.stringify(thongBao);\nmsg.topic = \"emo/dan_duong\";\n\nnode.warn(\"📤 Gửi bước 1: \" + chiDan + \" - \" + khoangCach);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":500,"wires":[["33cfd361f3629af7"]]},{"id":"ef124f854e8bdd84","type":"function","z":"e3f4bf90846b83b2","name":"Xử Lý GPS","func":"// Công thức Haversine: Tính khoảng cách giữa 2 tọa độ (mét)\nfunction getDistance(lat1, lon1, lat2, lon2) {\n    const R = 6371000; // Bán kính Trái đất (mét)\n    const phi1 = lat1 * Math.PI / 180;\n    const phi2 = lat2 * Math.PI / 180;\n    const deltaPhi = (lat2 - lat1) * Math.PI / 180;\n    const deltaLambda = (lon2 - lon1) * Math.PI / 180;\n\n    const a = Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +\n        Math.cos(phi1) * Math.cos(phi2) *\n        Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);\n    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n\n    return R * c; \n}\n\n// BẮT ĐẦU CODE BẠN ĐÃ CÓ (dòng 14 trở đi)\n// var currentLat = payload.lat;\n// var currentLon = payload.lon;\n// var acc = payload.acc;\n// ... (các dòng code còn lại)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":640,"wires":[["33cfd361f3629af7"]]},{"id":"921293e9f0f20eaf","type":"mqtt in","z":"e3f4bf90846b83b2","name":"Nhận GPS OwnTracks","topic":"owntracks/+/+","qos":"0","datatype":"auto","broker":"1e6e63d4b953e192","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":640,"wires":[["ef124f854e8bdd84"]]},{"id":"47dfe77b8a82da31","type":"ui_text_input","z":"e3f4bf90846b83b2","name":"Nhập Điểm Đến","label":"Điểm đến:","tooltip":"","group":"f4e920db46cff047","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"diem_den","sendOnBlur":true,"className":"","topicType":"str","x":260,"y":160,"wires":[["9e48ed1b4a53d6ab"]]}]