flows.json
[{"id":"39c7b9d201e13984","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"469be2e8f3231664","type":"mqtt in","z":"39c7b9d201e13984","name":"Nhận Tất Cả MQTT","topic":"emo/#","qos":"0","datatype":"auto-detect","broker":"1e6e63d4b953e192","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":860,"wires":[["6da7e5ca36d21f82"]]},{"id":"6da7e5ca36d21f82","type":"debug","z":"39c7b9d201e13984","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":860,"wires":[]},{"id":"85f13d5d90dd20ec","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Buồn 😢","tooltip":"","color":"màu xanh dương","bgcolor":"","className":"","icon":"","payload":"buon","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":1020,"wires":[["e050698614a9fb0f"]]},{"id":"e050698614a9fb0f","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Giận 😠","tooltip":"","color":"màu đỏ","bgcolor":"","className":"","icon":"","payload":"gian","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":1060,"wires":[["c69bad8dbe702efa"]]},{"id":"9b23ccc720b59cd6","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Vui 😊","tooltip":"","color":"xanh lá","bgcolor":"","className":"","icon":"","payload":"vui","payloadType":"str","topic":"topic","topicType":"msg","x":530,"y":980,"wires":[["85f13d5d90dd20ec"]]},{"id":"c69bad8dbe702efa","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Ngạc Nhiên 😮","tooltip":"","color":"màu vàng","bgcolor":"","className":"","icon":"","payload":"ngac_nhien","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":1100,"wires":[["a5a34ea8d52b06d2"]]},{"id":"7ab054de8614552f","type":"ui_button","z":"39c7b9d201e13984","name":"","group":"9be5788e5c56aa2e","order":0,"width":0,"height":0,"passthru":false,"label":"Chờ 😐","tooltip":"","color":"màu xám","bgcolor":"","className":"","icon":"","payload":"cho","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":940,"wires":[["9b23ccc720b59cd6"]]},{"id":"a5a34ea8d52b06d2","type":"mqtt out","z":"39c7b9d201e13984","name":"Gửi Lệnh Emo","topic":"emo/lenh","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1e6e63d4b953e192","x":860,"y":860,"wires":[]},{"id":"1e6e63d4b953e192","type":"mqtt-broker","name":"","broker":"14fbe5cfeb00433391dcda1a0b73ddc4.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9be5788e5c56aa2e","type":"ui_group","name":"Cảm Xúc","tab":"60932ee10b58a2cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"60932ee10b58a2cd","type":"ui_tab","name":"Điều Khiển Emo","icon":"dashboard","order":1,"disabled":false,"hidden":false}]